 
.card {
  .cardSubject {
    color: gray;
    font-size: 12px;
  }
  .cardTitle {
    a{
    font-size: 18px;
    font-weight: bold;
    color: black;
    }
  }
  .cardDescription {
    color: gray;
    font-size: 12px;
  }
  .cardAuthor{
    color: gray;
    font-size: 12px;
  }
  .cardBottomInfo{
    color: gray;
    font-size: 12px;
  }
  .cardImage {
    max-width: 100%;
    max-height: 100%;
    display: inline;

  }
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 0px;
  padding-right: 0px;
}