
.popularMedium{
  h3{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    
  }
  margin-bottom: 10px;
  border-bottom: 0.25px solid gray;
}
.links-footer{
  a{
    margin-left:15px ;
    color: gray;
    font-size: 1vw;
  }
  margin-top: 10px;
  border-top: 0.25px solid gray;
  width: 350px;
  overflow: hidden;
  white-space: nowrap;
}

