  
$fontFamily: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Arial,sans-serif;
$f-weight-400: 400;
$f-weight-600: 600;

$f-size-15: 15px;
$f-size-16: 16px;
$f-size-18: 18px;
$f-size-21: 21px;
$f-size-24: 24px;

$color-black-1: rgba(0,0,0,.54);
$color-black-2: rgba(0,0,0,.84);
$color-gray: rgb(221, 221, 221);
$color-link-article-sec: #03a87c;
$color-link-article-sec-hover: #018f69;
$bg-btn-get-started: rgba(3, 168, 124, 1);
$bg-btn-get-started-hover: rgba(2, 158, 116, 1);
$color-white: #ffffff;

/*Break points*/
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;