.asideCardInfo{
  .rankinPopularity{
    font-size: 29px;
    color: gray;
  }
  .asideTitle{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  .asideAuthor{
    font-size: 12px;
    margin-bottom: 0px;
  }
  .asideBottomInfo{
    margin-top: 5px;
    font-size: 9px;
    color: gray;
  }
  span{
    margin: 0px;
  }
  margin-left: 0px;
  padding-left: 0px;
}