@import '../../styles/variables.scss';


.title-principal {
    font-size: 70px;
    line-height: 80px;
    color: rgba(0, 0, 0, 0.84);
}

.title-secondary {
    font-size: 22px;
    font-size: 22px;
    font-weight: 600;
}